.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__mag-glass {
    cursor: pointer;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &__logo {
    width: 2rem;
  }

  &__name {
    @media screen and (max-width: 991px) {
      display: none;
    }
  }
}
