<div class="header">
  <mat-toolbar color="asscend">
    <div class="header__inner">
      <div class="header__left">
        <button mat-icon-button [routerLink]="['/']">
          <img
            class="header__logo"
            src="../../../assets/images/wookie.webp"
            alt=""
          />
        </button>
        <span class="header__name">Wookie Movies</span>
      </div>
      <div class="header__right">
        <div class="header__search">
          <mat-form-field appearance="standard">
            <mat-label>Search Movie</mat-label>
            <input
              #searchInput
              matInput
              placeholder="i.e Pulp Fiction"
              (keyup.enter)="onSearch($event.target.value)"
            />
            <mat-icon
              class="header__mag-glass"
              matSuffix
              (click)="onSearch(searchInput.value)"
              >search</mat-icon
            >
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-toolbar>
</div>
